<mat-drawer-container class="example-container mat-typography" autosize>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <mat-icon  aria-label="Menu"  style="margin: 20px;cursor: pointer;" (click)="isExpanded = !isExpanded">menu</mat-icon>
    <mat-divider></mat-divider>
    <mat-nav-list>
  
      <mat-list-item>
        <mat-icon mat-list-icon>fastfood</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Recepten</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Takenlijst</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Boodschappen</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>euro_symbol</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Financiën</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Instellingen
        </h4>
        test
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <recipe-search></recipe-search>
  </div>
</mat-drawer-container>